* {
    font-family: Arial, Helvetica, sans-serif;
}

div.header{
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    height: 45px;
    width: 483px;
}

li {
    margin-right: 40px;
}

.list-item {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

h1 {
    // text-wrap: wrap;
    width: 80%;
    font-size: 55px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-coder {
    height: 500px;
    width: auto;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-adil {
    // display: block; 
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.para-adil {
    width: 90%;
}

.tech-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 366px;
    height: 710px;
    // text-align: left;
}

.tech-skills > p {
    text-align: left;
    width: 350px;
}

.container {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
    // grid-template-columns: auto auto auto;
    // grid-template-rows: auto auto auto;
    text-align: center;
}

.img-icon {
    height: 72px;
    width: 72px;
}

.my-projects {
    text-align: center;
    
}

.client-project {
    width: 373px;
    height: 580px;
}

footer {
    height: 216px;
    background-color: black;
    
    p {
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    div {
        display: flex;
        justify-content: center;
        padding-top: 55px;
        
        img {
            height: 25px;
            width: auto;
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
            padding: 8px;
        }
    }
}

//Only mobile mode
@media only screen and (max-width: 391px) {
    .desktop-mode {
        display: none;
    }
}

//Only desktop mode
@media only screen and (min-width: 391px) {
    .mobile-mode {
        display: none;
    }
    .about-me {
        display: flex;
        flex-direction: row;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
    }
    
}